@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800;900&display=swap%27');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    outline: 0;
    padding: 0;
    background-color: #8C52E5;
    height: 100vh;
}

.content-wrap{
  flex-wrap: wrap;
}

.content-default{
  padding: 10px;
  margin-top: 5px;
}

.content-flex{
  display: flex;
}

.content-align--center{
  align-items: center;
}

.content-justify--center{
  justify-content: center;
}

.content-nav{
  background-image: url('../assets/logo.png');
  background-size: cover;
  border-radius: 10px;
  color: white;
  opacity: 0.5;
  padding: 20px;
  margin: 5px;
}

.content-nav:hover{
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.text-item--default{
  color: white(255, 0, 13);
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2em;
  font-weight: 900;
  margin: 2px;
}

.text-item--default:hover{
  color: red;
}

