@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --primary-color:#8C52E5;
  --secondary-color:#64dc3e;
}

body {
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 800;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

h2 > span {
  font-weight: 500;
}

button {
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding: 8px 24px 8px 24px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.logo {
  padding: 1em 2em;
  display: inline-block;
  background: #8c52e5;
  position: fixed;
  z-index: 1;
  border-radius: 0 0 20px 0;
}

.content-section, .content-box {
  height: 100vh;
  width: 100%;
}

.content-box > div {
  height: 100%;
}

.content-section-grid > div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.content-bg--parallax {
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
}

.content-bg--img-1 {
  background-image: url(img/happy-bg.png);
  background-size: 50%;
}
.content-bg--img-2 {
  background-image: url(img/bg-paralax-green.png);
  background-size: cover;
}

.text-size-large {
  font-size: 7em;
}

.text-color--purple {
  color: var(--primary-color);
}
.text-color--white {
  color: #ffffff;
}
.text-color--black {
  color: #000000;
}
.text-color--green {
  color: var(--secondary-color);
}

.content-bg--purple {
  background-color: var(--primary-color);
}
.content-bg--white {
  background-color: #ffffff;
}
.content-bg--black {
  background-color: #000000;
}
.content-bg--green {
  background-color: var(--secondary-color);
}

/*Por sessão*/

.content-box-card {
  background: #fff;
  padding: 1em 2em;
  border-radius: 16px;
}

.content-text--local {
  max-width: 450px;
}

#section-2 .content-bg--black div > div,
#section-2 .content-bg--white div > div {
  width: 100%;
}

#register-new-account:hover,
#login-account:hover {
  color: #fff;
  background-color: var(--secondary-color);
  transition: 1s;
}

button:hover i {
  animation: anima-icon .5s forwards;
}

@keyframes anima-icon {
  from {
    transform: translate3d(-30px, 0,0)
  }
  to {
    transform: translate3d(0, 0,0)
  }
}

#register-new-account:focus,
#login-account:focus {
  outline: 0;
}

/**ANIMATION FORM - #register-account**/

#register-account :focus {
  outline: none;
}

#register-account .form-content {
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

#register-account .input {
  width: 100%;
  border: 0;
  padding: 10px 10px;
  border-bottom: 1px solid #929fba;
  color: var(--primary-color) !important;
}

#register-account .input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
}

#register-account .input:focus ~ .border {
  width: 100%;
  transition: 1s;
  border-color: var(--primary-color)!important;
}

#register-account .border {
    border: 1px solid red;
}

/**MEDIA QUERY**/

@media screen and (max-width:1263px){
  .content-box > div {
    height: 100%;
    padding: 3em;
  }
}
@media screen and (max-width:767px){
  .content-section-grid > div {
    grid-template-columns: 100%;
  }
  .content-section, .content-box {
    height: auto; 
  }
  .logo {
    position: relative;
  }
}
@media screen and (max-width:479px){
  .content-bg--black .content-text--local,
  .content-bg--white .content-text--local {
    padding: 1em 1.5em 0 1.5em;
  }
}