<app-nav></app-nav>
<main class="card" id="card_container">
    <h2>Faça o seu Login</h2>
    <form id="login_form" class="card-form" #form="ngForm" (submit)="onSubmit(form)">
        <input type="text" id="usuario" placeholder="Digite seu usuário" required
                [(ngModel)]="usuario" name="usuario">
        <input type="password" id="senha" placeholder="Digite sua senha" required
               [(ngModel)]="senha" name="senha">
        <div class="invalid-feedback" *ngIf="errorLoging">
            {{msgError}}<br><small>por favor tente novamente</small>
        </div>
        <button class="btn btn-primary mt-3" type="button" disabled *ngIf="loading;else spinner">
            <span class="sr-only">Loading...</span>
        </button> 
        <ng-template #spinner>
            <button id="button_submit" type="submit" class="btn btn-main-outline btn-rounded">Entrar</button>
        </ng-template>
    </form>
    <a  [routerLink]="['/forgotpass']">Esqueci minha senha</a>
    <a  [routerLink]="['/']">Ainda não sou cliente</a>
</main>