<div class="content-default content-flex content-justify">
  <div class="dash-header">
    <div class="section">
      <app-headerdash [message]="message" ></app-headerdash>
    </div>
  </div>
 </div>
 <div class="content content-default content-flex content-justify">
  <div class="card transaction p-5">
    <form id="transaction_form">
        <div class="p-1 content-flex content-justify">
            <img src="../../../../assets/img/svg/transaction.svg" class="content-icon--big" alt="">
        </div>
        <div class="p-1 content-flex content-justify">
            <h2 class="text-purple">Realizar transação</h2>
        </div>
        <div class="p-1 content-flex--column content-justify">
            <label for="operacao" class="text-center">Escolha um tipo de transação:</label>
            <select [(ngModel)]="selected" (ngModelChange)="isTranfer()" name="operacao" class="align-last--center" id="operacao" required>
                <option value="DEPOSITO">Depósito</option>
                <option value="PAGAMENTO">Pagamento</option>
                <option value="TRANSFERENCIA">Transferência</option>
            </select>
        </div>
        <div class="p-1 content-flex--column content-justify">
            <label for="origem_sigla" class="text-center">Qual é a sua conta?</label>
            <select name="origem_sigla" class="align-last--center" id="origem_sigla" required>
                <option value="POUPANCA">Conta Poupança</option>
                <option value="CORRENTE">Conta Corrente</option>
                <option value="CREDITO">Conta de Crédito</option>
            </select>
        </div>
        <div *ngIf="transferencia" class="transfer-div content-justify--between content-flex" id="transfer_div">
          <div class="content-justify content-flex--column m-1 content-flex--1">
            <label for="destino_sigla" class="text-center">Conta de destino</label>
            <select name="destino_sigla" class="align-last--center" id="destino_sigla" required>
                <option value="POUPANCA">Conta Poupança</option>
                <option value="CORRENTE">Conta Corrente</option>
                <option value="CREDITO">Conta de Crédito</option>
            </select>
        </div>
        <div class="content-justify content-flex--column m-1 content-flex--1">
            <label for="destino_login" class="text-center">Login de destino</label>
            <input type="text" id="destino_login" placeholder="Ex: emerson" required/>
          </div>
        </div>
        <div class="p-1 content-flex--column content-justify">
            <label for="descricao" class="text-center">Descrição</label>
            <input type="text" id="descricao" placeholder="Ex: mercado" required/>
        </div>
        <div class="p-1 content-flex--column content-justify">
            <label for="planoConta" class="text-center">Plano de conta</label>
            <select name="planoConta" class="align-last--center" id="planoConta" required>
                <option value="">Opção 1</option>
            </select>
        </div>
        <div class="p-1 content-flex--column content-justify">
            <label for="valor" class="text-center">Valor</label>
            <input id="valor" type="number" placeholder="ex: 250.00" required/>
        </div>
        <div class="p-1 content-flex--column content-justify">
            <button id="button_submit">Enviar</button>
        </div>
    </form>
</div>

</div>
