@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

.content--actions-bank {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content--actions-bank > div {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 0 1em;
    width: 100%;
    box-sizing: border-box;
}

.group-option {
    margin: 10px 0;
    display: flex;
}

label {
    font-weight: 400;
    margin-bottom: 6px;
    display: inline-block;
    color: #303030;
    width: 120px;
}

button {
    border: none;
    background: #8c52e5;
    color: #fff;
    padding: 13px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
button:hover {
    background: #64dc40;
    font-weight: bold;
}

select {
    border: 1px solid #8c52e5;
    padding: 9px;
    width: 100%;
    color: #8c52e5;
    margin-bottom: 12px;
}

input {
    padding: 10px 0 10px 10px;
    width: 100%;
}

@media screen and (max-width:981px){
    .content--actions-bank {
        display: block;
        margin-top: 20px;
        justify-content: space-around;
        font-family: 'Roboto', sans-serif;
    }
    .content--actions-bank > div {
        margin-bottom: 20px !important;
        margin-left: 0;
    }
}