@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin-top: 50px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.p-auto {
  padding: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding-top: 50px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-width--full {
  width: 100%;
  margin: 0 auto;
}

.container-height--full {
  height: 100%;
  margin: 0 auto;
}

body, html {
  margin: 0;
  outline: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #8C52E5;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-weight: 900;
}

#root {
  height: 100vh;
}

.bg-purple {
  background-color: #8C52E5;
}

.bg-grey {
  background-color: gray;
}

.bg-gama {
  background-color: #63dc3e;
}

.bg-dark {
  background-color: #1a1a1a;
}

.bg-black {
  background-color: #000;
}

.bg-light {
  background-color: #EAEAEA;
}

.bg-white {
  background-color: #fff;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #1783E7;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-purple {
  color: #8C52E5;
}

.text-grey {
  color: gray;
}

.text-gama {
  color: #63dc3e;
}

.text-green {
  color: #63dc3e;
}

.text-blue {
  color: #1783E7;
}

.text-red {
  color: red;
}

.text-dark {
  color: #1a1a1a;
}

.text-black {
  color: #000;
}

.text-light {
  color: #EAEAEA;
}

.text-white {
  color: #fff;
}

.text-weight--bold {
  font-weight: bold;
}

.text-card--ancor {
  color: #1783E7;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 2px;
}

.text-size--12 {
  font-size: 12px;
}

.text-size--20 {
  font-size: 20px;
}

.flex-wrap--30 {
  width: 38%;
}

.align-last--center {
  text-align-last: center;
}

.img-full {
  height: 500px;
}

.blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.bloco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 1s;
  height: 100vh;
}

#bloco-cadastro-login {
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 35%;
}

.bloco-content-login {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 50px auto;
  color: #EAEAEA;
  font-size: 2em;
  font-weight: bold;
  transition: 1s;
}
.bloco-content-login h2 {
  margin-top: 0px;
  margin-bottom: 25px;
  transition: 0.5s;
}
.bloco-content-login h2:hover {
  transition: 0.5s;
  color: #63dc3e;
}
.bloco-content-login p {
  margin-bottom: 5px;
  padding: 0px;
  transition: 0.5s;
}
.bloco-content-login p:hover {
  transition: 0.5s;
  color: #63dc3e;
}
.bloco-content-login .btn {
  margin-top: 10px;
}

#bloco-celulares {
  height: fit-content;
}

.bloco-content-celular {
  width: 100vw;
  transition: 1s;
}
.bloco-content-celular img {
  height: 75vh;
  transition: 1s;
}
.bloco-content-celular p {
  padding: 30px;
  font-weight: 900;
}

#bloco-anuidade .bloco-content-anuidade {
  margin: auto;
}
#bloco-anuidade h1 {
  font-size: 8em;
  font-weight: 900;
  transition: 1s;
}
#bloco-anuidade h1:hover {
  color: #EAEAEA;
  transition: 1s;
}
#bloco-anuidade h2 {
  font-size: 3.5em;
  margin-bottom: 0px;
  transition: 1s;
}
#bloco-anuidade h2:hover {
  color: #63dc3e;
  transition: 1s;
}
#bloco-anuidade p {
  font-size: 1.3em;
  font-weight: 900;
  transition: 1s;
}
#bloco-anuidade p:hover {
  color: #63dc3e;
  transition: 1s;
}

#bloco-fim-complexidade {
  background-color: #63dc3e;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
#bloco-fim-complexidade .bloco-content-anuidade {
  margin: auto;
}
#bloco-fim-complexidade h1 {
  font-size: 8em;
  font-weight: 900;
  transition: 1s;
}
#bloco-fim-complexidade h1:hover {
  color: #EAEAEA;
  transition: 1s;
}
#bloco-fim-complexidade h2 {
  font-size: 3.5em;
  margin-bottom: 0px;
  transition: 1s;
}
#bloco-fim-complexidade h2:hover {
  color: #8C52E5;
  transition: 1s;
}
#bloco-fim-complexidade p {
  font-size: 1.3em;
  font-weight: 900;
  transition: 1s;
}
#bloco-fim-complexidade p:hover {
  color: #8C52E5;
  transition: 1s;
}

#bloco-footer {
  background-color: #EAEAEA;
  height: auto;
  height: 100vh;
}
#bloco-footer .bloco-content-footer {
  margin: auto;
}
#bloco-footer .bloco-content-footer img {
  width: 250px;
  padding: 50px;
}
#bloco-footer .bloco-content-footer img:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#bloco-footer .bloco-content-footer h2 {
  font-size: 3.5em;
  margin-bottom: 0px;
  transition: 1s;
  color: #1a1a1a;
}
#bloco-footer .bloco-content-footer h2:hover {
  color: #8C52E5;
  transition: 1s;
}
#bloco-footer .bloco-content-footer p {
  font-size: 1.3em;
  font-weight: 900;
  transition: 1s;
  color: #1a1a1a;
}
#bloco-footer .bloco-content-footer p:hover {
  color: #8C52E5;
  transition: 1s;
}

@media (max-height: 538px) {
  .bloco {
    height: fit-content;
  }
}
@media (max-width: 768px) {
  .bloco {
    flex-direction: column;
    align-items: center;
    transition: 1s;
    height: auto;
  }
  .bloco .btn {
    width: auto;
  }
  .bloco #bloco-cadastro-login {
    background-image: none !important;
  }

  .bloco-content-login {
    transition: 1s;
    margin: 20px auto;
  }
  .bloco-content-login h2 {
    font-size: 1.5em;
  }
  .bloco-content-login p {
    font-size: 0.8em;
    margin: 0px;
    margin-bottom: 15px;
  }

  .bloco-content-celular {
    transition: 1s;
  }
  .bloco-content-celular img {
    transition: 1s;
    height: 75vw;
  }
  .bloco-content-celular p {
    font-size: 12px;
  }

  #bloco-anuidade {
    height: 100vh;
    padding: 30px;
  }
  #bloco-anuidade .bloco-content-anuidade h1 {
    font-size: 3em;
  }
  #bloco-anuidade .bloco-content-anuidade h2 {
    font-size: 1.5em;
  }
  #bloco-anuidade .bloco-content-anuidade p {
    font-size: 1em;
  }

  #bloco-fim-complexidade {
    height: 100vh;
    padding: 30px;
  }
  #bloco-fim-complexidade .bloco-content-anuidade h2 {
    font-size: 2em;
  }
  #bloco-fim-complexidade .bloco-content-anuidade p {
    font-size: 1em;
  }

  #bloco-footer .bloco-content-footer img {
    width: 50%;
  }
  #bloco-footer .bloco-content-footer img:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
  }
  #bloco-footer .bloco-content-footer h2 {
    font-size: 2em;
  }
  #bloco-footer .bloco-content-footer p {
    font-size: 1em;
  }
}
.btn {
  cursor: pointer;
  border: none;
  padding: 10px 25px;
  width: fit-content;
  text-decoration: none;
  font-weight: 800;
}
.btn a {
  text-decoration: none;
}

.btn-lg {
  width: auto;
}

.btn-md {
  width: 60%;
}

.btn-rounded {
  border-radius: 20px;
}

.btn-main {
  color: #fff;
  transition: 500ms;
  background-color: #8C52E5;
}
.btn-main:hover {
  transition: 500ms;
  background-color: #581bb6;
}

.btn-main-outline {
  color: #8C52E5;
  transition: 500ms;
  border: 2px solid #8C52E5;
  background-color: #fff;
}
.btn-main-outline:hover {
  color: #fff;
  transition: 500ms;
  background-color: #8C52E5;
}

.btn-gama {
  color: #8C52E5;
  transition: 500ms;
  border: 2px solid #8C52E5;
  background-color: #fff;
}
.btn-gama:hover {
  color: #8C52E5;
  transition: 500ms;
  background-color: #63dc3e;
}

.card {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 15px;
  background-color: #fff;
}
.card .card-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card .card-form input {
  width: 250px;
  margin: 10px;
  padding: 5px;
  outline: none !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2 solid gray;
}
.card .card-form input:focus, .card .card-form input:active {
  border-color: #8C52E5;
}
.card .card-form .btn {
  margin: 20px auto;
}
.card a {
  margin-top: 5px;
  padding: 5px;
}

.nav {
  padding: 15px;
}
.nav .nav-logo {
  width: 200px;
}

.content-default {
  padding: 20px;
}

.content-justify {
  justify-content: center;
}

.content-justify--between {
  justify-content: space-between;
}

.content-align--center {
  align-items: center;
}

.content-flex {
  display: flex;
}

.content-flex--1 {
  flex: 1;
}

.content-flex--column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.container-paralax {
  display: flex;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.content-paralax--data {
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}

/*content*/
.content-dashboard {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.content-dashboard ::-webkit-input-placeholder {
  text-align: center;
}
.content-dashboard label {
  margin-bottom: 2px;
}
.content-dashboard ul, .content-dashboard li {
  list-style: none;
  padding: 0;
}
.content-dashboard h2 {
  margin: 0;
}
.content-dashboard .dash-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}
.content-dashboard .dash-header .header-dash {
  display: flex;
  flex-direction: row;
}
.content-dashboard .dash-header .header-dash #text-wellcome {
  padding: 10px;
  font-weight: 500;
}
.content-dashboard .dash-header .header-dash #text-wellcome #user-name {
  transition: 2.5s;
}
.content-dashboard .dash-header .header-dash #text-wellcome #user-name:hover {
  transition: 1s;
  color: #63dc3e;
}
.content-dashboard .dash-header .header-dash img {
  padding: 10px;
}
.content-dashboard .accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*card*/
}
.content-dashboard .accounts .card-dashboard {
  width: 25%;
  margin: 5px;
  padding: 20px;
  transition: 1.5s;
  border-radius: 8px;
  background-color: #fff;
}
.content-dashboard .content-intern--default {
  padding: 10px;
  margin: 2px;
}
.content-dashboard .text-card--default {
  color: #9B9B9B;
  font-size: 18px;
  font-weight: 400;
}

.content-icon--big {
  height: 40px;
  width: 40px;
}

.content-icon--default {
  height: 25px;
  margin-right: 5px;
  width: 25px;
}

/*header*/
.header-dash .icon {
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  transition: 0.5s;
  width: 25px;
}
.header-dash .icon:hover {
  background-color: rgba(255, 255, 255, 0.755);
  border-radius: 10px;
}

/*menu*/
.dashboard-menu {
  height: auto;
  background-color: #63dc3e;
  text-align: center;
}
.dashboard-menu a {
  color: inherit;
  text-decoration: none;
}
.dashboard-menu .icon-menu--default {
  height: 25px;
  width: 25px;
}
.dashboard-menu .card-menu--item {
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  justify-content: space-between;
  margin: 10px 2px;
  padding: 10px;
  height: 80px;
  transition: 1s;
  width: 100px;
}
.dashboard-menu .card-menu--item p {
  margin-bottom: 2px;
}
.dashboard-menu .card-menu--item:hover {
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.1);
  transition: 0.5s;
}
.dashboard-menu .card-menu--item.selected {
  font-weight: bold;
}

.transaction input, .transaction select {
  background-color: #f7f7f7;
  border: solid 1px #8C52E5;
  border-radius: 10px;
  padding: 10px;
}
.transaction input, .transaction select:focus {
  text-align: center;
}
.transaction input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.transaction button {
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #8C52E5;
  cursor: pointer;
  color: #8C52E5;
  font-weight: bold;
  font-size: 18px;
  height: 45px;
  transition: 0.7s;
}
.transaction button:hover {
  background-color: #8C52E5;
  color: white;
}

/*tablet*/
@media (min-width: 767px) and (max-width: 1080px) {
  .content-dashboard .accounts .card-dashboard {
    width: 50%;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .dashboard-menu {
    bottom: 0;
    width: 100vw;
    position: fixed;
  }
  .dashboard-menu .content-default {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .content-dashboard .accounts .card-dashboard {
    width: 80%;
  }

  .content-dashboard {
    margin-bottom: 100px;
  }

  .content-dashboard .flex-wrap--30 {
    width: 70%;
  }

  .accounts {
    display: block;
    margin: 5px;
  }

  .content-dashboard .card-dashboard--default {
    padding: 15px;
  }

  .date {
    display: none;
  }

  .update {
    display: none;
  }

  .header-dash .icon {
    height: 20px;
    transition: 0.5s;
    width: 20px;
  }

  .content-default {
    padding: 3px;
  }

  .flex-wrap--40 {
    width: 100%;
  }

  .content-transaction {
    align-items: center;
  }

  .payment-description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content-icon--default {
    height: 18px;
    margin-right: 2px;
    transition: 1s;
    width: 18px;
  }

  .content-intern--default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .dashboard {
    height: 100%;
  }

  .dashboard-menu {
    bottom: 0;
    width: 100vw;
    position: fixed;
  }
  .dashboard-menu .content-default {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  .dashboard-menu .card-menu--item {
    border-radius: 5px;
    font-size: 12px;
    margin: 5px 2px;
    padding: 5px;
    height: 70px;
    width: 90px;
  }
  .dashboard-menu .card-menu--item:hover {
    cursor: pointer;
    transform: none;
    transition: 0.5s;
  }

  .dashboard-menu > img {
    display: none;
  }
}
@media screen and (max-width: 615px) {
  .content-dashboard {
    margin-bottom: 100px;
  }

  .content-dashboard .flex-wrap--30 {
    width: 90%;
  }

  .accounts {
    display: block;
    margin: 1px;
  }

  .content-dashboard .card-dashboard--default {
    padding: 5px;
  }

  .content-intern--default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 491px) {
  .content-dashboard {
    margin-bottom: 100px;
  }

  .content-dashboard .flex-wrap--30 {
    width: 99%;
  }

  .content-dashboard .card-dashboard--default {
    padding: 5px;
  }

  .transfer-div {
    display: block;
  }

  .content-intern--default {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.generic-loader {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}
.generic-loader .circle {
  display: inline-block;
  transform: translateZ(1px);
}
.generic-loader .circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #63dc3e;
  animation: circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.page-content--error h1 {
  text-shadow: 2px 2px 3px #000;
  background: #713fbd;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 20px 10px;
  text-transform: uppercase;
  font-size: 25px;
}

.page-content--error {
  margin: 50px auto;
  width: 60vh;
}

.page-content--error .papers {
  background: #fff;
  padding: 30px;
  position: relative;
}

.page-content--error .papers,
.page-content--error .papers::before,
.page-content--error .papers::after {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

.page-content--error p {
  color: #636363;
  font-size: 16px;
  padding: 20px;
  background: #f2f2f2;
}

.page-content--error button {
  color: #8C52E5;
  transition: 500ms;
  border: 2px solid #8C52E5;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 800;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  display: inherit;
}

.page-content--error .papers::before,
.page-content--error .papers::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #eee;
}

.page-content--error .papers::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.page-content--error .papers::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}

.page-content--error .papers-svg > svg {
  width: 100%;
  height: auto;
}

.page-content--error h2,
.page-content--error p {
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 491px) {
  .page-content--error h2,
.page-content--error p {
    word-break: break-all;
  }
}

/*# sourceMappingURL=style.css.map */
