.bg-purple{
    background-color: $main;
}
.bg-grey{
    background-color: $gray;
}
.bg-green{
    background-color: $verde-gama;
}
.bg-dark{
    background-color: $dark;
}
.bg-black{
    background-color: $black;
}
.bg-light{
    background-color: $light;
}
.bg-white{
    background-color: $white;
}