@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
body, html {
  margin: 0;
  outline: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: $main;
  font-family: 'Roboto', sans-serif; }

  h1, h2, h3{
    font-weight: 900;
}

input {
  width: 250px;
  margin: 10px;
  padding: 5px;
  outline: none !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2 solid gray; 
  &:focus, &:active {
    border-color: $main;
  }
}
select {
  max-width: 450px;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  outline: none !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2 solid gray; 
  background-color: $white;
  &:focus, &:active {
    border-color: $main;
  }
}

#root{
  height: 100vh;
}
