@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body, html {
  margin: 0;
  outline: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: $main;
  font-family: 'Roboto', sans-serif; }

  h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

#root{
  height: 100vh;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-width--full{
  width: 100%;
  margin: 0 auto;
}

.container-height--full{
  height: 100%;
  margin: 0 auto;
}

