.bloco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bloco-content-login{
    display: flex;
    flex-direction: column;
    
    width: 350px;
    margin: auto;
    color: $light;
    font-size: 2em;
    font-weight: bold;
    h2{
        margin-top: 0px;
        margin-bottom: 25px;
        transition: 0.5s;
        &:hover{
            transition: 0.5s;
            color: $verde-gama;
        }
    }
    p{
        margin-bottom: 5px;
        padding: 0px;
        transition: 0.5s;
        &:hover{
            transition: 0.5s;
            color: $verde-gama;
        }
    }
    .btn{
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .bloco {
        flex-direction:column;
        align-items: center;
        .bloco-content-login{
            h2{
            }
            p{
                margin: 0px;
                margin-bottom: 15px;
            }
        }
        .btn{
            width: auto;
        }
    } 
}