.btn {
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    width: fit-content;
    text-decoration: none; 
    font-weight: 800;
    a{
      text-decoration: none; 

    }
  }

  .btn-lg{
    width: auto;
  }
  .btn-md{
    width: 60%;
  }
  
  .btn-rounded {
    border-radius: 20px; }
  
  .btn-main {
    color: $invert-color;
    transition: 500ms;
    background-color: $main; 
    
    &:hover {
    transition: 500ms;
    background-color: darken($main,20%); }
  }
  
  .btn-main-outline {
    color: $main;
    transition: 500ms;
    border: 2px solid $main;
    background-color: $invert-color; 
    
    &:hover {
      color: $invert-color;
      transition: 500ms;
      background-color: $main;
    }
  }

  .btn-gama {
    color: $main;
    transition: 500ms;
    border: 2px solid $main;
    background-color: $invert-color; 
    
    &:hover {
      color: $main;
      transition: 500ms;
      background-color: $verde-gama;
    }
  }