
.content-default{
    padding: 20px;
}

.content-justify{
    justify-content: center;
}

.content-justify--between{
    justify-content: space-between;
}

.content-align--center{
    align-items: center;
}

.content-flex{
    display: flex;
}

.content-flex--1{
    flex: 1;
}

.content-flex--column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.flex-wrap--40{
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.container-paralax{
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.content-paralax--data{
    display: flex;
}