 ::-webkit-scrollbar {
   width: 0px;
}
/* Track */

::-webkit-scrollbar-track {
   -webkit-box-shadow: none;
}
/* Handle */

::-webkit-scrollbar-thumb {
   background: white;
   -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
   background: none;
}

/*content*/
.content-dashboard{
  width: 100vw;
  height: 100vh;
  overflow: scroll;


  ::-webkit-input-placeholder {
    text-align: center;
  }

  label{
    margin-bottom: 2px;
  }

  ul, li{
    list-style: none;
    padding: 0;
  }

  h2{
    margin: 0;
  }
  .dash-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    .header-dash{
      display: flex;
      flex-direction: row;
      
      #text-wellcome{
        padding: 10px;
        font-weight: 500;
        #user-name{  
          transition: 2.5s;
          &:hover{
            transition: 1s;
            color: $verde-gama;
          }
        }
      }
      img{
        padding: 10px;
      }
    }
  }
 
  .accounts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*card*/
    .card-dashboard{
      width: 25%;
      margin: 5px;
      padding: 20px;
      transition: 1.5s;
      border-radius: 8px;
      background-color: $white;
    }
  }

  .content-intern--default {
    padding: 10px;
    margin: 2px;
  }

  .text-card--default {
    color: #9B9B9B;
    font-size: 18px;
    font-weight: 400;
  }

}

.content-icon--big{
  height: 40px;
  width: 40px;
}

.content-icon--default{
  height: 25px;
  margin-right: 5px;
  width: 25px;
}

/*header*/
.header-dash {
    .icon{
      cursor: pointer;
      border-radius: 10px;
      height: 25px;
      transition: 0.5s;
      width: 25px;
    }

    .icon:hover{
      background-color: rgba(255, 255, 255, 0.755);
      border-radius: 10px;
    }
}

/*menu*/
.dashboard-menu{
    height: auto;
    background-color: $verde-gama;
    text-align: center;
    a{
      color: inherit;
      text-decoration: none;
    }
  
    .icon-menu--default{
        height: 25px;
        width: 25px;
    }
  
    .card-menu--item{
      border-radius: 8px;
      color: white;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 14px;
      justify-content: space-between;
      margin: 10px 2px;
      padding: 10px;
      height: 80px;
      transition: 1s;
      width: 100px;
  
      p {
        margin-bottom: 2px;
      }
    }
  
    .card-menu--item:hover {
      cursor: pointer;
      font-weight: bold;
      transform: scale(1.1);
      transition: 0.5s;
    }
  
    .card-menu--item.selected {
      font-weight: bold;
    }
}

.transaction{
  input, select {
    background-color: #f7f7f7;
    border: solid 1px $purple;
    border-radius: 10px;
    padding: 10px;
  }

  input, select:focus {
    text-align: center;
  }

  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
  }

  button {
    border-radius: 10px;
    background-color: $white;
    border: solid 1px $purple;
    cursor: pointer;
    color: $purple;
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    transition: 0.7s;
  }

  button:hover{
    background-color: $purple;
    color: white;
  }
}

/*tablet*/
@media (min-width: 767px) and (max-width: 1080px){
  .content-dashboard{
    .accounts{
      .card-dashboard{
        width: 50%;
      }
    }
  }
}

@media (min-width: 451px) and (max-width: 767px) {
  .dashboard-menu{
    bottom: 0;
    width: 100vw;
    position: fixed;
    
    .content-default{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }
  }

}
@media (max-width: 767px){
  .content-dashboard{
    .accounts{
      .card-dashboard{
        width: 80%;
      }
    }
  }

  .content-dashboard{
    margin-bottom: 100px;
  }

  .content-dashboard .flex-wrap--30{
    width: 70%;
  }

  .accounts{
    display: block;
    margin: 5px;
  }
  
  .content-dashboard .card-dashboard--default {
    padding: 15px;
  }

  .date{
    display: none;
  }

  .update{
    display: none;
  }

  .header-dash{

  .icon{
      height: 20px;
      transition: 0.5s;
      width: 20px;
    }

  }

  .content-default{
      padding: 3px;
  }

  .flex-wrap--40{
      width: 100%;
  }

  .content-transaction{
      align-items: center;
  }

  .payment-description{
      display: flex;
      align-items: center;
      flex-direction: column;
  }  

  .content-icon--default{
      height: 18px;
      margin-right: 2px;
      transition: 1s;
      width: 18px;
  }

  .content-intern--default{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .dashboard{
      height: 100%;
  }

  .dashboard-menu{
    bottom: 0;
    width: 100vw;
    position: fixed;
    
    .content-default{
      display: flex;
      flex-direction: row;
      overflow: scroll;
      
    }

    .card-menu--item{
      border-radius: 5px;
      font-size: 12px;
      margin: 5px 2px;
      padding: 5px;
      height: 70px;
      width: 90px;
    }
    .card-menu--item:hover {
      cursor: pointer;;
      transform: none;
      transition: 0.5s;
    }
  }
  
  .dashboard-menu > img {
    display: none;
  }
}

@media screen and (max-width:615px){
  .content-dashboard{
    margin-bottom: 100px
  }

  .content-dashboard .flex-wrap--30{
    width: 90%;
  }

  .accounts{
    display: block;
    margin: 1px;
  }

  .content-dashboard .card-dashboard--default {
    padding: 5px;
  }

  .content-intern--default{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
}

@media screen and (max-width:491px){
  .content-dashboard{
    margin-bottom: 100px
  }

  .content-dashboard .flex-wrap--30{
    width: 99%;
  }

  .content-dashboard .card-dashboard--default {
      padding: 5px;
  }

  .transfer-div{
    display: block;
  }

  .content-intern--default{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }
}