a {
    font-weight: 700;
    text-decoration: none;
    color: $link; 
  }

.text-center {
    text-align: center; 
}
  
.text-left {
    text-align: left; 
}

.text-right {
    text-align: right; 
}

.text-justify {
    text-align: justify; 
}

.text-purple{
    color: $main;
}
.text-grey{
    color: $gray;
}
.text-green{
    color: $verde-gama;
}
.text-dark{
    color: $dark;
}
.text-black{
    color: $black;
}
.text-light{
    color: $light;
}
.text-white{
    color: $white;
}
.text-weight--bold {
    font-weight: bold;
}