<app-nav></app-nav>
<div *ngIf="msgError.length" class="msg msg-warning">
  {{ msgError }}
</div>
<main class="card">
    <h2>Alteração de senha</h2>
    <form class="card-form" id="">
        <input type="password" name="old_password" id="old_password" placeholder="Senha atual"  ngModel name="senhaantiga" #senhaInput required>
        <input type="password" name="new_password" id="new_password" placeholder="Nova senha" [(ngModel)]="senha" name="senhanova" #novaSenhaInput required>
        <button type="submit" class="btn btn-main-outline btn-rounded">Alterar</button>
    </form>
</main>
